html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

/* .headings {
    display: flex;
    background: orange;
    justify-content: center;
    width: 100%;
} */

table {
    /* border-collapse: collapse; */
    width: 75%;
    /* border: 1px solid black; */
    /* justify-content: center; */
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    /* margin-bottom: 10px; */
    table-layout: fixed;
}

thead {
    vertical-align: middle;
}

td, th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5px 0 5px 0;
    /* width: 100px; */
    /* align-content: center; */
    /* vertical-align: middle; */
}

.form-hidden {
    display: none;
}

.form-visible, #close-open-buttons {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    /* background: purple; */
}

.form-visible {
    border: 1px solid rgba(15, 157, 88, .3);
    border-radius: 5px;
    /* border-radius: 10px; */
    /* background: lightgrey; */
}

input[type=text], input[type=number] {
    width: 500px;
    height: 25px;
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    /* background: blue; */
}

label {
    display: inline-block;
    padding-bottom: 5px;
    padding-top: 15px;
    /* color: white; */
}

#add-book-form {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#open-form {
    width: 125px;
    height: 40px;
    background: rgba(66, 133, 244, 1);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#add-to-lib, #close-form {
    width: 100px;
    margin: 5px;
    /* display: inline-block; */
}

#close-form {
    width: 125px;
    height: 40px;
    background: rgba(219, 68, 55, 1);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#add-to-lib {
    width: 125px;
    height: 40px;
    background: rgba(66, 133, 244, 1);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

legend {
    /* color: white; */
    color: black;
    padding: 0 10px 0 10px;
}

fieldset {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid yellowgreen;
}

#close-open-buttons {
    padding-bottom: 15px;
}

.delButtons {
    width: 80px;
    height: 30px;
    background: rgba(219, 68, 55, 1);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin: 5px 0 5px 0;
}

.readStatusButton {
    /* background: none; */
    /* border: none; */
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background: rgba(15, 157, 88, 1);
    color: white;
    font-weight: bold;
}

.unreadStatusButton {
    /* background: none; */
    /* border: none; */
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background:  rgba(219, 68, 55, 1);
    color: white;
    font-weight: bold;
}

#clear-all {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background:  rgba(219, 68, 55, 1);
    color: white;
    font-weight: bold;
    margin-bottom: 5px;

    /* animation: wiggle .5s infinite; */
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

#library-title {
    display: block;
    text-align: center;
    padding: 10px 0 10px 0;
}